/* NewsCompanyTitle.js */
.company-title-div {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 20px;
}
.company-title-img {
    height: 6.5rem;
    width: 6.5rem;
    border-radius: 20px;
}
/* .company-title-text {
    font-size: clamp(40px, 5vw, 50px);
    text-transform: uppercase;
} */

/* FilterButton.js */
.filter-button {
    background-color: #D1D1D1;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    width: 90px;
    height: 23px;
}
.filter-button .ms-1 {
    margin-left: 5px;
}
.filter-button:hover {
    background-color: #c6c6c6;
}
/* .filter-title {
    font-size: 20px;
    font-weight: bold;
} */

/* NewsCard.js */
.news-card {
    border: none #ddd;
    border-radius: 20px;
    background-color: var(--sidebar-background) !important;
    padding: 10px;
}
.card img {
    border-radius: 10px;
    max-width: 100%; 
    height: auto; 
}
.card .d-flex {
    padding: 10px;
    align-items: center;
    display: flex;
}

/* Responsive Card Title */
.news-card-title {
    font-size: clamp(0.8rem, 2vw + 0.5rem, 1.3rem); 
    font-weight: bold;
    margin-bottom: 10px;
}
.news-card-summary {
    font-size: 1rem;
}

/* NewsSidebar.js */

.sidebar-container {
    margin-top: 70px;
}

.center-searchbar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; 
}

.fixed-searchbar {
    position: sticky; 
    top: 0;          
    z-index: 1000;  
    width: 100%; 
    background-color: var(--bs-accordion-btn-bg);    
}

.news-sidebar-card {
    transition: background-color 0.3s ease;
}

.news-sidebar-card:hover {
    background-color: #dcdcdc; 
}

.news-sidebar-card:active {
    background-color: var(--mc-green); 
}

.no-caret::after {
    display: none !important;
}

.focus {
    --bs-accordion-btn-bg: var(--mc-green);
}

.scrollable-sidebar {
    height: calc(100vh - 56px);
    overflow-y: auto;
    padding-right: 10px;
}

/* News hero section */
.hero-section {
    position: relative;
    max-width: 60%;
    width: 100%;
    min-height: 100px;
}

.hero-image {
    width: 100%; 
    height: auto;
    max-width: 600px; 
    max-height: 400px; 
    object-fit: cover; 
}

.hero-text-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    color: white;
    transition-duration: 0.5s;
    background: rgba(0, 0, 0, 0.3); 
}

.hero-text-container:hover {
    background: rgba(0, 0, 0, 0.6);
}

.hero-title {
    font-size: clamp(0.9rem, 1.5vw + 0.2rem, 1.2rem); 
    font-weight: bold;
    margin-bottom: 10px;
}

.hero-subtitle {
    font-size: clamp(0.7rem, 1vw + 0.1rem, 1rem); 
    line-height: 1.5;
}

.newsfeed-container{
    margin-left: 310px;
}

/* CSS ANIMATIONS */
.chevron-icon {
    transition-duration: 0.15s;
    transition-timing-function: linear;
}

.rotate {
    transform: rotate(90deg);
}

/* Large screen */
@media (max-width: 992px) {
    .newsfeed-container{
        margin-left: 30px;
    }
}

/* Medium screen */
/* Adjust add-button position on smaller screens */
/* Responsive adjustments for news-card */
@media (max-width: 768px) {
    .news-card {
        padding: 8px; /* Adjust padding for medium screens */
        border-radius: 15px;
    }

    .card img {
        border-radius: 8px;
    }

    .news-card-title {
        font-size: clamp(0.6rem, 2vw + 0.3rem, 1rem); 
    }

    .news-card-summary {
        font-size: 0.9rem;
    }

    .hero-section {
        max-width: 100%;
        min-width: 100%;
        min-height: 200px; 
    }

    .hero-image {
        height: 200px; 
    }

    .hero-title {
        font-size: clamp(0.8rem, 1.2vw + 0.15rem, 1rem); 
    }

    .hero-subtitle {
        font-size: clamp(0.6rem, 1vw + 0.1rem, 0.85rem); 
    }

    .hero-text-container {
        padding: 10px;
    }

    .newsfeed-container{
        margin-left: 25px;
    }

}

/* Small screen */
@media (max-width: 576px) {
    .hero-section {
        min-height: 250px; 
    }

    .hero-image {
        height: 250px; 
    }

    .hero-title {
        font-size: clamp(0.75rem, 1vw + 0.1rem, 0.9rem);
    }

    .hero-subtitle {
        font-size: clamp(0.6rem, 0.9vw + 0.05rem, 0.8rem); 
    }

    .hero-text-container {
        padding: 8px; 
    }

    .news-card {
        padding: 5px; 
        border-radius: 10px;
    }

    .card img {
        border-radius: 5px;
    }

    .news-card-title {
        font-size: clamp(0.4rem, 2vw + 0.2rem, 0.9rem); 
    }

    .news-card-summary {
        font-size: 0.85rem;
    }

    .newsfeed-container{
        margin-left: 20px;
    }
}