/*Search Bar Styling*/
.searchbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: none;
    height: 36px;
  }
  .border-no-outline {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .searchbar-icon {
    color: darkgrey;
    background-color: white;
  }
  .rounded-input-group .form-control {
    border-radius: 20px 0 0 20px; 
  }
  .rounded-right {
    border-radius: 0 20px 20px 0;
  }
  .rounded-input-group .input-group-prepend .input-group-text {
    border-radius: 20px 0 0 20px;
  }
  .center-searchbar{
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  