.toggle-list-container {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .toggle-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .title-icon {
    display: flex;
    align-items: center;
  }
  
  .title-text {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .action-buttons {
    display: flex;
    align-items: center;
  }
  
  .action-buttons > *:not(:last-child) {
    margin-right: 10px; /* Add space between the FavoriteButton and ToggleSwitch */
  }
  
  .toggle-list-items {
    margin-top: 10px;
    padding-left: 20px;
  }
  