.toggle-header {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .toggle-list {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .toggle-list li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  .font-bold {
    font-weight: bold;
  }
  