azure-functions
langchain
langchain_community
openai
python-dotenv
qdrant-client
tiktoken
pandas
langchain-openai
langchain-qdrant
azure-storage-blob
azure-identity
mysql.connector
fuzzywuzzy[speedup]
requests