/*********************************
* CustomSelect.js
**********************************/
    .custom-select {
    position: relative;
    font-family: Arial;
    width: 300px; /* Set a specific width for the custom select box */
    }
    
    .custom-select select {
        display: none; /* Hide original SELECT element */
    }
    
    .select-selected {
        background-color: white;
        padding: 8px 16px; /* Adjust padding to control the height */
        border: 1px solid black; /* Add border to match the item style */
        border-radius: 30px;
        cursor: pointer;
    }
    
    /* Style the arrow inside the select element */
    .select-selected:after {
        position: absolute;
        content: "";
        top: 50%; /* Center the arrow vertically */
        right: 20px; /* Move the arrow more to the left */
        transform: translateY(-25%); /* Center the arrow vertically */
        width: 0;
        height: 0;
        border: 8px solid transparent;
        border-color: black transparent transparent transparent;
    }
    
    /* Point the arrow upwards when the select box is open (active) */
    .select-selected.select-arrow-active:after {
        border-color: transparent transparent black transparent;
        transform: translateY(-85%); /* Rotate the arrow */
    }
    
    /* Style the items (options), including the selected item */
    .select-items div, .select-selected {
        color: black;
        padding: 8px 16px;
        border: 1px solid black;
        border-radius: 20px;
        cursor: pointer;
    }
    
    /* Style items (options) */
    .select-items {
        position: absolute;
        background-color: white;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        border-radius: 20px; /* Match the border radius of the select */
    }
    
    /* Hide the items when the select box is closed */
    .select-hide {
        display: none;
    }
    
    .select-items div:hover, .same-as-selected {
        background-color: rgba(0, 0, 0, 0.1);
    }

/*********************************
* RangeLabels.js
**********************************/
.range-number {
    font-size: smaller;
  }

.range-label {
    font-size: small;
    color: var(--mc-purple)
  }

/*********************************
* RangeQuestion.js
**********************************/
.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    border-radius: 5px;  
    background: #000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--mc-green);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--mc-green);
    cursor: pointer;
  }

/*********************************
* SearchBar.js
**********************************/
/*Search Bar Styling*/
.searchbar {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin: none;
    height: 36px;
  }
  .border-no-outline {
    border: none;
    outline: none;
    box-shadow: none;
  }
  .searchbar-icon {
    color: darkgrey;
    background-color: white;
  }
  .rounded-input-group .form-control {
    border-radius: 20px 0 0 20px; 
  }
  .rounded-right {
    border-radius: 0 20px 20px 0;
  }
  .rounded-input-group .input-group-prepend .input-group-text {
    border-radius: 20px 0 0 20px;
  }
  .center-searchbar{
    display: flex;
    align-items: center; 
    justify-content: center; 
  }
  

/*********************************
* TextInputBox.js
**********************************/
.text-input-box {
    background-color: white;
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 50px;
  }
  .text-box-size{
    width: 400px;
  }

/*********************************
* ToggleList.js
**********************************/
.toggle-header {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .toggle-list {
    margin-top: 10px;
    padding-left: 20px;
  }
  
  .toggle-list li {
    list-style-type: none;
    margin-bottom: 5px;
  }
  
  .font-bold {
    font-weight: bold;
  }
  

/*********************************
* ToggleSwitch.js
**********************************/
.toggle-list-container {
    width: 100%;
    margin-bottom: 10px;
  }
  
  .toggle-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }
  
  .title-icon {
    display: flex;
    align-items: center;
  }
  
  .title-text {
    margin-left: 10px;
    font-weight: bold;
  }
  
  .action-buttons {
    display: flex;
    align-items: center;
  }
  
  .action-buttons > *:not(:last-child) {
    margin-right: 10px; /* Add space between the FavoriteButton and ToggleSwitch */
  }
  
  .toggle-list-items {
    margin-top: 10px;
    padding-left: 20px;
  }
  

