:root {
  --background-color-light: #FFFFFF;
  --sidebar-background: #EDEDED;
  --mc-green: #BAF43E;
  --mc-purple: #9747FF;
  --mc-blue: #0085FF;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Font Sizes */
.main-title {
  font-weight: bold;
  font-size: 6rem;
  padding-top: 10px;
}

.page-title {
  font-weight: bold;
  font-size: 280%;
  padding-top: 30px;
  padding-bottom: 10px;
}

.page-header {
  font-weight: bold;
  font-size: 280%;
  padding-top: 20px;
  padding-left: 15px;
  border: none;
  text-transform: uppercase;
}

.container {
  margin-top: 80px;
}

.container-mid {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-no-outline {
  border: none;
  outline: none;
  box-shadow: none;
}

/* Buttons */
.green-btn {
  background-color: var(--mc-green);
  font-weight: bold;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 200px;
}

.green-btn:hover {
  background-color: black;
  color: white;
}

.green-btn:active {
  background-color: var(--mc-green);
}

.black-btn {
  background-color: black;
  font-weight: bold;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  width: 200px;
}

.black-btn:hover {
  background-color: rgb(58, 58, 61);
  color: white;
}

.black-btn:active {
  background-color: black;
}

.btn-no-outline {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.btn-no-outline:focus {
  outline: none;
  box-shadow: none;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* Styling for Sidebar */

.image-size {
  width: 50px;
  height: 50px;
}

/* Sidebar and page content styling for 'Stock Analysis', 'News Feed' and 'Settings' pages */
.page-container {
  display: flex;
}

.sidebar {
  position: fixed;
  /* Fixes the sidebar to the left*/
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  /* Set the width of the sidebar */
  margin-top: 80px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.content {
  margin-left: 300px;
  /* Pushes the content to the right of the sidebar */
  margin-top: 65px;
  padding: 20px;
  width: calc(100% - 250px);
  /* Makes sure the content fits next to the sidebar */
}

.blue-line {
  width: 100%;
  height: 1px;
  background-color: #0085FF;
  border-radius: 5px;
}

@import "~bootstrap/dist/css/bootstrap.css";