.green-btn {
    background-color: #BAF43E !important; 
    border-color: ##BAF43E !important;     
    color: #fff !important;                
}

.green-btn:hover {
    background-color: #218838 !important;  
    border-color: #1e7e34 !important;    
}